@using AmyDaveWedding.Models;
@using Microsoft.AspNet.Identity;
@{
    Layout = "~/Views/Account/_AccountLayout.cshtml";
    ViewBag.Title = "Manage Account";
}

@section css {
    <link href="/Content/bootstrap-social.css" rel="stylesheet" />
}

<h2>@ViewBag.Title</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div class="manage-account row">
    <div class="col-sm-5">

        <section id="externalLogins">
            @Html.Action("RemoveAccountList")
            @Html.Partial("_ExternalLoginsListPartial", new { UserLoginProviderTypes = ViewBag.UserLoginProviderTypes, Action = "LinkLogin", ReturnUrl = ViewBag.ReturnUrl })
        </section>

    </div>
    <div class="col-sm-offset-1 col-sm-6">

        @if (ViewBag.HasLocalPassword)
        {
            @Html.Partial("_ChangePasswordPartial")
        }
        else
        {
            @Html.Partial("_SetPasswordPartial")
        }

    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
