@model AmyDaveWedding.Models.RsvpModel

@{
    Layout = "~/Views/Account/_AccountLayout.cshtml";
    ViewBag.Title = "Rsvp";
}

@section scripts {
    <script>
        $(document).ready(function () {
            $("[data-toggle='tooltip']").tooltip();
            $("[data-toggle='popover']").popover();

            // http://stackoverflow.com/questions/11703093/how-to-dismiss-a-twitter-bootstrap-popover-by-clicking-outside
            $('body').on('click', function (e) {
                if ($(e.target).data('toggle') !== 'popover'
                    && $(e.target).parents('.popover.in').length === 0) {
                    // did not click a popover toggle or popover
                    $('[data-toggle="popover"]').popover('hide');
                }
            });

            //$('input[type=radio]').change(function () {
            //    $this = $(this);
            //    window.console && console.log( "radio button clicked: " + $this.attr('name') );
            //    window.console && console.log(this);

            //    $parent = $this.parents('.btn-group');
            //    $parent.find('input[type=radio]').attr('checked', false);

            //    window.console && console.log('parent .btn-group: ' + $parent.attr('class'));
            //    $parent.each(function (index) {
            //        window.console && console.log('parent ' + index + ':');
            //        window.console && console.log($(this));
            //    });

            //    $this.attr('checked', true);
            //});

            var $checkedInputs = $('input[type=radio][checked=checked]');
            window.console && console.log('checked inputs: ' + $checkedInputs.length);
            $checkedInputs.parent('label').addClass('active');

            registerRadioButtonChange('.form-group.attending');
            registerRadioButtonChange('.form-group.plus-one-known');
            registerRadioButtonChange('.form-group.child-count');
            registerRadioButtonChange('.form-group.interested-in-child-care');

            function registerRadioButtonChange( btnGroupSelector ) {
                var $btnGroup = $(btnGroupSelector);
                var $inputs = $btnGroup.find('input[type=radio]');
                window.console && console.log('radio input count for selector ' + btnGroupSelector + ': ' + $inputs.length);
                $inputs.change(function () {

                    $this = $(this);

                    $btnGroup.find('input[type=radio]').prop("checked", false);

                    window.console && console.log('onChange ' + btnGroupSelector + ': parent .btn-group: ' + $btnGroup.attr('class'));
                    $btnGroup.each(function (index) {
                        window.console && console.log('   btnGroup ' + index + ':');
                        window.console && console.log(this);
                    });

                    $this.prop("checked", true);
                });
            }
        });
    </script>
}

<div class="rsvp">

    <h2>Répondez S'il Vous Plaît</h2>
    <h4>for @ViewBag.Invitee.Name</h4>

    @using (Html.BeginForm("Rsvp", "Account", FormMethod.Post, new { @class = "rsvp-form form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        <div class="">
            <hr />
            @Html.ValidationSummary(true)

            <div class="form-group attending">
                <div class="col-sm-5 col-md-4">
                    <label class="Xcontrol-label" xfor="Attending">Are you attending our wedding?</label>
                    <p class="">
                        You can come back and change this at any time.
                        If you're unsure, please give us your best guess.
                    </p>
                </div>
                <div class="col-sm-7 col-md-8">
                    <div class="btn-group hidden-xs hidden-sm" data-toggle="buttons">
                        <label class="btn btn-lg btn-success">
                            <input type="radio" name="Attending" value="true" @(Model.Attending == true ? "checked=checked" : "")>
                            <span class="hidden-xs">Yes, I'm Attending</span>
                            <span class="visible-xs">Yes</span>
                        </label>
                        <label class="btn btn-lg btn-danger">
                            <input type="radio" name="Attending" value="false" @(Model.Attending == false ? "checked=checked" : "")>
                            <span class="hidden-xs">Regretfully Not Attending</span>
                            <span class="visible-xs">No</span>
                        </label>
                    </div>
                </div>
            </div>
            <hr/>

            <div class="form-group plus-one-known">
                @if (ViewBag.PlusOneKnown == true)
                {
                    <div class="col-sm-5 col-md-4">
                        <label class="Xcontrol-label" for="PlusOneAttending">Is your significant other attending?</label>
                        <p class="">
                            Your S.O. can also login to the site and RSVP.
                            It works either way.
                        </p>
                    </div>
                }
                else
                {
                    <div class="col-sm-5 col-md-4">
                        <label class="Xcontrol-label" for="PlusOneAttending">Are you bringing a date?</label>
                        <p class="">
                            @*If you have a significant other or are dating someone, you're welcome to bring them.*@
                            If your plans change before the wedding, you can come back and update this.
                        </p>
                        @*<button type="button" class="popover-button btn btn-default" data-container="body"
                                data-toggle="popover" data-placement="bottom"
                                Xtitle Xdata-original-title="Should I find a date?"
                                data-content="If you're single on the day of our wedding, don't sweat it. We're not having a sit-down dinner so you won't endure sitting alone at a table full of strangers. We request that you not recruit a last-minute date just because you're worried about being dateless. It will probably be awkward, and you'll be expected to babysit whoever you bring.">
                            What if I'm not dating anybody?
                        </button>*@
                    </div>
                }
                <div class="col-sm-7 col-md-8">
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-lg btn-success">
                            <input type="radio" name="PlusOneAttending" value="true" @(Model.PlusOneAttending == true ? "checked=checked" : "")>Yes
                        </label>
                        <label class="btn btn-lg btn-danger">
                            <input type="radio" name="PlusOneAttending" value="false" @(Model.PlusOneAttending == false ? "checked=checked" : "")>No
                        </label>
                    </div>
                </div>
            </div>
            <hr/>

            <div class="form-group child-count">
                <div class="col-sm-5 col-md-4">
                    <label class="Xcontrol-label" for="ChildCount">Are you bringing children?</label>
                    <p class="">
                        
                    </p>
                </div>
                <div class="col-sm-7 col-md-8">
                    <div class="btn-group" data-toggle="buttons">
                        @foreach (int i in Enumerable.Range(0, 6))
                        {
                            <label class='btn btn-lg btn-default @(Model.ChildCount == i ? "active" : "")'>
                                <input type="radio" name="ChildCount" id="ChildCount_@i" value="@i" @(Model.ChildCount == i ? "checked=checked" : "")>@i
                            </label>
                        }
                    </div>
                    @Html.ValidationMessageFor(model => model.ChildCount)
                </div>
            </div>
            <hr />

            @*<div class="form-group interested-in-child-care">
                <div class="col-sm-5 col-md-4">
                    <label class="Xcontrol-label" for="InterestedInChildCare">Are you interested in child care?</label>
                    <p class="">
                        Although we can't provide child care directly,
                        we can help by putting you in touch with other out-of-town parents who are interested in child care.
                    </p>
                </div>
                <div class="col-sm-7 col-md-8">
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-lg btn-success">
                            <input type="radio" name="InterestedInChildCare" value="true" @(Model.InterestedInChildCare == true ? "checked=checked" : "")>Yes
                        </label>
                        <label class="btn btn-lg btn-danger">
                            <input type="radio" name="InterestedInChildCare" value="false" @(Model.InterestedInChildCare == false ? "checked=checked" : "")>No
                        </label>
                    </div>
                </div>
            </div>
            <hr />*@

            @if (ViewBag.Invitee != null && ViewBag.Invitee.InvitedToRehearsal)
            {
                <div class="form-group attending-rehearsal">
                    <div class="col-sm-5 col-md-4">
                        <label class="Xcontrol-label" for="AttendingRehearsal">Rehearsal Dinner / Family Picnic?</label>
                        <p class="">
                            We're combining our rehearsal dinner with a picnic for our out-of-town family, and you're invited.
                            It's on Friday afternoon/evening in Maple Grove. Please let us know if you think you can attend.
                            You'll find the address and more information in the Location section of the home page.
                        </p>
                    </div>
                    <div class="col-sm-7 col-md-8">
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-lg btn-success">
                                <input type="radio" name="AttendingRehearsal" value="true" @(Model.AttendingRehearsal == true ? "checked=checked" : "")>Yes
                            </label>
                            <label class="btn btn-lg btn-danger">
                                <input type="radio" name="AttendingRehearsal" value="false" @(Model.AttendingRehearsal == false ? "checked=checked" : "")>No
                            </label>
                        </div>
                    </div>
                </div>
                <hr />
            }

            <div class="form-group">
                <div class="col-sm-5 col-md-4">
                    <label class="Xcontrol-label" for="Note">Message for the bride &amp; groom</label>
                </div>
                <div class="col-sm-7 col-md-8">
                    @Html.TextAreaFor(m => m.Note, 6, 60, new { } ) @*{ @title = "Comment" }*@
                    @Html.ValidationMessageFor(model => model.Note)
                </div>
            </div>
            
            <div class="form-group">
                <div class="col-md-12">
                    <input type="submit" value="Save" class="btn btn-lg btn-primary" />
                </div>
            </div>
        </div>
    }
</div>